.ctr {
    text-align: center !important;
}

thead > tr > th, tbody > tr > td{
    vertical-align: middle !important;
}

td> input.form-control{
    width: 60px !important;
    padding: 8px !important;
    box-shadow: none !important;
}

input[name=predikat]{
    align-items: center;
    width:60px !important;
    background:#fff !important;
    box-shadow: none !important;
}

input[disabled],input[disabled]:hover{
    cursor: default !important;
    border:none !important;
}

.textarea-rapot{
    font-size:11px !important;
    background: #fff !important;
    border:none !important;
    font-size: 11px !important;
    cursor: default !important;
}

@media (min-width: 768px) {
    .img-details {
        margin-left: 40px;
    }
    .btn-details {
        margin-top: 28px !important;
    }
    .btn-details-siswa {
        margin-top: 175px !important;
    }
}

span.menu-title {
    font-size: 1.6rem;
    font-weight: 700;
}
